.imagen1 {
    width: 400px;
    height: 400px;
}

.imagen2 {
  width: 400px;
    height: 400px;
}
.imagen3 {
    width: 400px;
      height: 400px;
 

 }
  .imagen4 {
    width: 145px;
      height: 118px;
      float:right
    }

.seccion1 {
    background-color: rgb(239, 232, 166);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
}


.seccion2 {
    background-color: cornflowerblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.seccion3 {
    background-color: rgb(105, 207, 216);
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

header {
  border: 4px dashed black;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

